/* ------------Candidate-Home-------- */ 
.container {
    padding: 30px;
    background-color: white;    
    text-align: left;
    width:1300px;
    height: 100%;
    margin-top:100px;
    margin-left:70px;
  }
  /* ------------Add page-------- */
  .post{
    background-color:#e6ecff;
    border-radius:18px; 
    padding-left:50px; 
    padding-top:50px;
    padding-bottom: 40px;
    padding-right: 40px;
  }
  .post:hover{
    background: #81bbf583;
  }
  .posts {
    background-color:#e6ecff;
    vertical-align: top;
    display: inline-block;
    width: 310px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom:10px;
    height:624px;
    margin-left:22px;
    margin-right: 58px;
    padding:20px;
  }
  
  .posts:hover {
    background: #81bbf583;
  }
  
  .posts a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    width: 60px;
    height: 30px;
    color: #2980b9;
  }
  .ad{
    display: block;
    margin-top: 0em;
  }
  .btnapply{
    margin-top:5px;
    padding-left:30px;
    background-color: #1565CF;
    color: white;
    border: 1px solid bla;
    cursor:pointer;
  }
  
  /* ------------search-------- */
  .setHorizontalCenter {
    margin-left: auto;
    margin-right: auto;
}
.alignLeft {
    float: left;
}
.btnBlue {
    background-color: #1565CF;
    border: 1px solid #1565CF;
    color: white;
}

 /* ------------application-------- */
 .labels{
     font-size:15px;
 }

.para{
    font-size:17px;
}
.title{
    font-size:25px;
    text-decoration:bold;
}